<?xml version="1.0" encoding="UTF-8"?>
<config>
    <updaterate>500</updaterate>
    <vmix>
        <ip>localhost</ip>
        <port>8088</port>
        <username>admin</username>
        <password>admin</password>
        <tally>Happyrobot33</tally>
    </vmix>
    <osc>
        <parameters>
            <preview>VRCTally_Preview</preview>
            <program>VRCTally_Program</program>
            <standby>VRCTally_Standby</standby>
            <heartbeat>VRCTally_Heartbeat</heartbeat>
            <error>VRCTally_Error</error>
        </parameters>
    </osc>
</config>
