<?xml version="1.0" encoding="UTF-8"?>
<config>
    <vmix>
        <updaterate>1000</updaterate>
        <ip>localhost</ip>
        <port>8088</port>
        <username>admin</username>
        <password>admin</password>
        <tally>Cam 4</tally>
    </vmix>
    <osc>
        <updaterate>500</updaterate>
        <parameters>
            <preview>
                <parameter>VRCTally_Preview</parameter>
                <parameter>VRCLLime_Preview_Active</parameter>
            </preview>
            <program>
                <parameter>VRCTally_Program</parameter>
                <parameter>VRCLLime_Program_Active</parameter>
            </program>
            <standby>
                <parameter>VRCTally_Standby</parameter>
            </standby>
            <heartbeat>
                <parameter>VRCTally_Heartbeat</parameter>
            </heartbeat>
            <error>
                <parameter>VRCTally_Error</parameter>
            </error>
        </parameters>
    </osc>
</config>
